header {
	>---width:100%;
	>---position: fixed;
	>---position: absolute;
	>---top:0px;
	>---height: 100px;
	>---border-bottom: 1px solid #555;
}

.mail_icon{
	margin-left:30px;
}

.title {
	float: left;
	height: 5px;
	line-height: 50px;
	width: 100%;
	text-align: center;
}

.title img{
	text-align:center;
}

.title h1 {
	margin: 0;
	font-size: 20px;
}

.title h1 a {
	color: #aaa;
	text-decoration: none;
}
